<div id="<%= dom_id builder %>">
  <p>
    <strong>Name:</strong>
    <%= builder.name %>
  </p>

  <p>
    <strong>Proyect:</strong>
    <%= builder.proyect_id %>
  </p>

    <p>
    <strong>Proyect:</strong>
    <%= builder.proyect.email %>
  </p>

</div>
