<p style="color: green"><%= notice %></p>

<%= render @builder %>

<div>
  <button type="button" class="btn btn-dark">
    <%= link_to "Volver a Zona Constructores", builders_path %>
  </button>
</div>
