<p style="color: green"><%= notice %></p>

<%= render @payment %>

<div>
<button type="button" class="btn btn-dark">
  <%= link_to "Volver al Home", proyects_path, class:"nav-link" %>
</button>
  
</div>
